<html>
<head>
    <title>Details</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>
<body>
    <h1>{{ month }} 2021</h1>
    <button onclick="window.location.href=window.location.protocol + '//' + window.location.host;">Total</button>
    <button onclick="window.location.href=window.location.protocol + '//' + window.location.host + '?month=1';">Jan</button>
    <button onclick="window.location.href=window.location.protocol + '//' + window.location.host + '?month=2';">Fev</button>
    <button onclick="window.location.href=window.location.protocol + '//' + window.location.host + '?month=3';">Mar</button>
    <button onclick="window.location.href=window.location.protocol + '//' + window.location.host + '?month=4';">Abr</button>
    <button onclick="window.location.href=window.location.protocol + '//' + window.location.host + '?month=5';">Mai</button>
    <button onclick="window.location.href=window.location.protocol + '//' + window.location.host + '?month=6';">Jun</button>
    <button onclick="window.location.href=window.location.protocol + '//' + window.location.host + '?month=7';">Jul</button>
    <button onclick="window.location.href=window.location.protocol + '//' + window.location.host + '?month=8';">Aug</button>
    <h2>ZVMGr: {{ z+v+m+gr }} HNT</h2>
    <p>Z: {{ z }} HNT</p>
    <p>V: {{ v }} HNT</p>
    <p>M: {{ m }} HNT</p>
    <p>Gr: {{ gr }} HNT</p>
    <h2>Gu: {{ gu }} HNT</h2>
    <h2>J: {{ j }} HNT</h2>
    <h2>D: {{ d }} HNT</h2>
</body>
</html>
