<html>
<head>
    <title>Details</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>
<body>
    <h1>{{ month }} {{ year }}</h1>
    <button onclick="window.location.href=window.location.protocol + '//' + window.location.host;">Total</button>
    <p></p>
    <button onclick="window.location.href=window.location.protocol + '//' + window.location.host + '?year=2021&month=1';">Jan21</button>
    <button onclick="window.location.href=window.location.protocol + '//' + window.location.host + '?year=2021&month=2';">Fev21</button>
    <button onclick="window.location.href=window.location.protocol + '//' + window.location.host + '?year=2021&month=3';">Mar21</button>
    <button onclick="window.location.href=window.location.protocol + '//' + window.location.host + '?year=2021&month=4';">Abr21</button>
    <button onclick="window.location.href=window.location.protocol + '//' + window.location.host + '?year=2021&month=5';">Mai21</button>
    <button onclick="window.location.href=window.location.protocol + '//' + window.location.host + '?year=2021&month=6';">Jun21</button>
    <button onclick="window.location.href=window.location.protocol + '//' + window.location.host + '?year=2021&month=7';">Jul21</button>
    <button onclick="window.location.href=window.location.protocol + '//' + window.location.host + '?year=2021&month=8';">Aug21</button>
    <button onclick="window.location.href=window.location.protocol + '//' + window.location.host + '?year=2021&month=9';">Sep21</button>
    <button onclick="window.location.href=window.location.protocol + '//' + window.location.host + '?year=2021&month=10';">Oct21</button>
    <button onclick="window.location.href=window.location.protocol + '//' + window.location.host + '?year=2021&month=11';">Nov21</button>
    <button onclick="window.location.href=window.location.protocol + '//' + window.location.host + '?year=2021&month=12';">Dec21</button>
    <p></p>
    <button onclick="window.location.href=window.location.protocol + '//' + window.location.host + '?year=2022&month=1';">Jan22</button>
    <button onclick="window.location.href=window.location.protocol + '//' + window.location.host + '?year=2022&month=2';">Fev22</button>
    <button onclick="window.location.href=window.location.protocol + '//' + window.location.host + '?year=2022&month=3';">Mar22</button>
    <button onclick="window.location.href=window.location.protocol + '//' + window.location.host + '?year=2022&month=4';">Abr22</button>
    <button onclick="window.location.href=window.location.protocol + '//' + window.location.host + '?year=2022&month=5';">Mai22</button>
    <button onclick="window.location.href=window.location.protocol + '//' + window.location.host + '?year=2022&month=6';">Jun22</button>
    <button onclick="window.location.href=window.location.protocol + '//' + window.location.host + '?year=2022&month=7';">Jul22</button>
    <button onclick="window.location.href=window.location.protocol + '//' + window.location.host + '?year=2022&month=8';">Aug22</button>
    <button onclick="window.location.href=window.location.protocol + '//' + window.location.host + '?year=2022&month=9';">Sep22</button>
    <button onclick="window.location.href=window.location.protocol + '//' + window.location.host + '?year=2022&month=10';">Oct22</button>
    <button onclick="window.location.href=window.location.protocol + '//' + window.location.host + '?year=2022&month=11';">Nov22</button>
    <button onclick="window.location.href=window.location.protocol + '//' + window.location.host + '?year=2022&month=12';">Dec22</button>
    <h2>ZVMGr: {{ z+v+m+gr }} HNT</h2>
    <p>Z: {{ z }} HNT</p>
    <p>V: {{ v }} HNT</p>
    <p>M: {{ m }} HNT</p>
    <p>Gr: {{ gr }} HNT</p>
    <h2>Gu: {{ gu }} HNT</h2>
    <h2>J: {{ j }} HNT</h2>
    <h2>D: {{ d }} HNT</h2>
</body>
</html>
